button {
 cursor: pointer;
}

button:hover {
 background: var(--theme-accent, white);
 color: var(
 --theme, navy);
 border-color: var(
 --theme, navy);
}

#bar {
 -webkit-app-region: drag;
 background: var(--theme, navy);
 position: fixed;
 top: 0;
 left: 0;
 width: calc(100% - 38px);
 margin: 0;
 padding-right: 35px;
}

#bar select, #bar button, #bar input {
 border: none;
 float: right;
 padding: 15px;
}

html {
 font-family: Arial;
 background: var(--theme, navy);
 -webkit-user-select: none;
 font-family: var(--font, Arial)
}
.sticky {
 position: sticky;
 top: 4px;
}
button, input, select {
 background: var(--theme, navy);
 color: var(--theme-light, white);
 border: none;
 padding: 10px;
 outline: none;
 -webkit-app-region: no-drag;
 font-family: var(--font, Arial);
 border-radius: 5px;
 border: solid 1px var(--theme-light, white);
}

::-webkit-input-placeholder {
 color: var(--theme-light, white);
}

ul#chat {
 list-style: circle;
}

body {
 margin: 0;
 padding: 5px;
 background: var(--theme-light, white);
 color: var(--text, black);
 margin-top: 47px;
}

button#close {
 cursor: pointer;
 font-size: 200%;
 z-index: 15;
 position: fixed;
 top: 0px;
 right: 0px;
 border: none;
 border-radius: 0px;
 border-bottom-left-radius: 5px;
}

#close:hover {
 background: #ff5500;
}

.person:hover .name {
 font-size: 100%;
}

span.person {
 margin: 2px;
}

.person:hover .name {
 font-size: 100%!important;
}

span.name {
 color: var(--theme-light, white);
 font-size: 0%;
 transition: font-size 0.3s ease;
}

span.person-letter {
 width: 27px;
 height: 27px;
 padding: 5px;
 color: white;
}

div#cover {
 position: fixed;
 width: 100%;
 height: 100%;
 background: var(--theme, navy);
 z-index: 10;
 top: 0;
 left: 0;
 text-align: center;
 color: var(--theme-light, white);
}

input#nameInput {
 width: 200px;
}

#cover button, #cover input, #cover select {margin: 5px;}

::-webkit-scrollbar {
 width: 10px;
}

::-webkit-scrollbar-track {
 background: var(--theme, navy); 
}

::-webkit-scrollbar-thumb {
 background: var(--theme-accent, cornflowerblue); 
}